mixin thumbCard(sport)
    .col-sm-2.shadow-md
        p #{sport.Rk} 
    .col-sm-2.shadow-md
        p #{sport.Team} 
    .col-sm-2.shadow-md
        p #{sport.FGA} 
    .col-sm-2.shadow-md
        p #{sport.FGPER} -fgper
    if sport.TOV > 16
        .col-sm-2.shadow-md.border.border-danger
            p #{sport.TOV}
    else if sport.TOV > 15
        .col-sm-2.shadow-md.border.border-warning
            p #{sport.TOV}
    else
        .col-sm-2.shadow-md
            p #{sport.TOV}
                              
    .col-sm-2.shadow-md
        p #{sport.PF} 